<div class="board">
    <!-- Dice area -->
    <div class="dice-container hidden">
        <div class="dice-player1 dice-grid" id="dice1-player1" data-value="0"></div>
        <div class="dice-player1 dice-grid" id="dice2-player1" data-value="0"></div>
        <div class="dice-player2 dice-grid" id="dice1-player2" data-value="0"></div>
        <div class="dice-player2 dice-grid" id="dice2-player2" data-value="0"></div>
    </div>
    <div class="upper-half">
        <div class="bear-off bear-off-top" id="point-27"></div> <!-- Bear-off zone for Player 1 -->
        <div class="point light" id="point-24">
            <!-- <div class="checker white"></div> - Example of a white checker in the bear-off area -->
        </div>
        <div class="point dark" id="point-23"></div>
        <div class="point light" id="point-22"></div>
        <div class="point dark" id="point-21"></div>
        <div class="point light" id="point-20"></div>
        <div class="point dark" id="point-19"></div>
        <!-- Bar for upper half -->
        <div class="point bar" id="point-25"></div>
        <div class="point light" id="point-18"></div>
        <div class="point dark" id="point-17"></div>
        <div class="point light" id="point-16"></div>
        <div class="point dark" id="point-15"></div>
        <div class="point light" id="point-14"></div>
        <div class="point dark" id="point-13"></div>
        <div class="bear-off bear-off-top"></div> <!-- Bear-off zone for Player 1 -->
    </div>
    <div class="lower-half">
        <div class="bear-off bear-off-bottom" id="point-26"></div> <!-- Bear-off zone for Player 2 -->
        <div class="point dark" id="point-1"></div>
        <div class="point light" id="point-2"></div>
        <div class="point dark" id="point-3"></div>
        <div class="point light" id="point-4"></div>
        <div class="point dark" id="point-5"></div>
        <div class="point light" id="point-6"></div>
        <div class="point bar" id="point-0"></div>
        <div class="point dark" id="point-7"></div>
        <div class="point light" id="point-8"></div>
        <div class="point dark" id="point-9"></div>
        <div class="point light" id="point-10"></div>
        <div class="point dark" id="point-11"></div>
        <div class="point light" id="point-12"></div>
        <div class="bear-off bear-off-bottom"></div>
    </div>
</div>