@page "/view-game"
@rendermode InteractiveServer
@inject IJSRuntime JS

<div class="container">
    <div class="game-container">
        <Board />
        <div id="gameControls">
            <button id="loadGame">Load Game</button>
            <button id="prevMove">Previous Move</button>
            <button id="nextMove">Next Move</button>
        </div>
        <div id="gameStatus">
            <p>Move: <span id="currentMove">0</span></p>
            <p>Dice Rolled: <span id="diceRolled">0</span></p>
            <p>Move Details: <span id="moveDetails">None</span></p>
            <p>Score estimation: <span id="scoreEstimation">None</span></p>
        </div>
    </div>
</div>

@code {
    private IJSObjectReference? gameModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            gameModule = await JS.InvokeAsync<IJSObjectReference>("import", "/js/backgammon.js");

            await gameModule.InvokeVoidAsync("initializeGame");
        }
    }
}